{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block title %}Entry {{entry.batchNumber}} Movement{% endblock %}

{% block content %}
<div class="row pt-md-5 mt-md-3 mb-5">
    <div class="col-xl-8 col-sm-3 p-2">
<h2>Update Entry Information</h2>
<table class="table">
    <tr>
        <td class="table-secondary font-weight-bolder">Entry:</td>
        <td class="table-active text-muted">{{object.batch_ID}}</td>
        <td class="table-secondary font-weight-bolder">Supplier:</td>
        <td class="table-active text-muted">{{object.supplier}}</td>
        <td class="table-secondary font-weight-bolder">AWB:</td>
        <td class="table-active text-muted">{{object.awb}}</td>
    </tr>
    <tr>
        <td class="table-secondary font-weight-bolder">Invoice Number:</td>
        <td class="table-active text-muted">{{object.invoice_number}}</td>
        <td class="table-secondary font-weight-bolder">Invoice Date:</td>
        <td class="table-active text-muted">{{object.invoice_date}}</td>
        <td class="table-secondary font-weight-bolder">C.I.F:</td>
        <td class="table-active text-muted">{{object.cif| floatformat:"2"|intcomma}}</td>
    </tr>
    
</table>

<br>   

<form class=""  method="post">
  <table>
    {{form|crispy}}
    {% csrf_token %}
  </table>
  <input class="btn btn-info"type="submit" name="" value="Update">
  <br>

</form>

Date Created: {{entry.created_date}}<br>
</div>
</div>

{% endblock %}
