{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Log-in{% endblock %}
{% block content %}
<div class="row pt-md-5 mt-md-3 mb-5">
  <div class="col-xl-3 col-sm-6 p-2">
{% if request.user.is_authenticated %}

<p class="text-muted"> You are currently logged in as {{ request.user.first_name }} {{ request.user.last_name }}. If this is not your account please <a href="{% url "logout" %}">log out</a></p><h1 class="text-muted">Log-in</h1>
{% else %}
{% if form.errors %}
<div class="alert alert-danger" role="alert">
  <p class="text-muted">
    Your username and password didn't match.
    Please try again.
  </p>
</div>
{% else %}
<h2 class="text-mute">Log In</h2>
<p class="text-mute">Please, use the following form to log-in. If you don't have an account <a href="{% url "register" %}">register here</a></p>
{% endif %}
  <div class="login-form">
    <form class="form-signin" action="{% url 'login' %}" method="post">
      {{ form|crispy }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <p><input class="btn btn-info" type="submit" value="Log-in"></p>
    </form>
    <p><a href="{% url "password_reset" %}">Forgotten your password?</a></p>
</div>
</div>
  </div>
  {% endif %}
{% endblock %}
