{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Reset your password{% endblock %}
{% block content %}
<div class="row pt-md-5 mt-md-3 mb-5">
  <div class="col-xl-3 col-sm-6 p-2">
  <h1 class="text-muted">Forgotten your password?</h1>
  <p class="text-muted">Enter your e-mail address to obtain a new password.<strong>Testing Template use</strong></strong></p>
  <form method="post">
    {{ form|crispy }}
    <p><input class="btn btn-info" type="submit" value="Send e-mail"></p>
    {% csrf_token %}
  </form>
  </div>
  </div>
{% endblock %}
