{% extends "base.html" %}
{% block title %}Upload Sales{% endblock %}

{% block content %}
<div class="row pt-md-5 mt-md-3 mb-5 justify-content-md-center">
    <div class="col-xl-10 col-sm-12 p-2">
        <h1>Sales File Upload</h1>
        {% if sad == False %}
        <p>Select file for upload:</p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            
            <input class="btn btn-info" type="submit" value="Submit">
        </form>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
       {% else %}
       <br>
        <table class="table table-striped table-hover table-bordered">
          <th>SKU</th>
          <th>Quantity</th>
          <th>Sale Status</th>
          <th>Receipt Number</th>
          <th>Date</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Ticket Number</th>
          <th>ID Type</th>
          <th>ID Number</th>
          <th>Vessel</th>
          <th>Country</th>
          <th>Departure Date</th>
          <th>Departure Port</th>
          <th>Gender</th>
          {% for line in form %}
        <tr>
        
        {% for item in line%}
          <td>{{item}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
        </table>

        <a class="btn btn-info" href="{% url "submit_sales" %}">Submit Sales</a>

        {% endif %}




</div>
</div>

{% endblock %}