{% extends "base.html" %}
{% block title %}Item Deletion {{obj.internalsku}}{% endblock %}
{% block content %}
<div class="row pt-md-5 mt-md-3 mb-5">
    <div class="col-xl-8 col-sm-3 p-2">

        <p> You are deleting Item  <strong>{{inventory.internalsku}}</strong> Manufacturer Number <strong>{{inventory.sku}} </strong></p>

        <br>
        <form method="post">
            {% csrf_token %}
            <input class="btn btn-info"type="submit" value="Confirm">
        </form>
        <a href="#">return to entry</a>

        </div>
    </div>

{% endblock %}